.schools {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.school-list {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.new {
  text-align: center;
}
.new-link {
  text-decoration: none;
  background-image: linear-gradient(to top right, #cc2b5e, #753a88);
  color: white;
  padding: 7px 25px;
  border-radius: 20px;
}
